@import '../../stylesheets/color';

.wrapper {
  text-align: center;
  margin-top: 2em;
  width: 100%;
}

.title {
  font-family: 'Lobster', cursive;
  color: $orange;
  font-size: 3em;
  line-height: 1.8;
  background: url('./coffee-cup.svg') no-repeat 100% 12%;
  background-size: 80px auto;
  display: inline-block;
  padding-right: 80px;
}
